body {
    color: black;
    background-color: white;    
}

a{
    color:  white;
    text-decoration: none;
}

.barra {
    background-color: white !important;
}

.navlist {
    padding-right: 20%;
}

.nav-link{
    color: black;
    background-color: white;
    font-weight: 700;
}

.nav-link:hover {
    color: #E50695;
}

.nav-link:active {
    color: black;
}

.brandlogo {
    margin-left: 70%;
}

.form {    
    margin-top: 10%;
    margin-right: 1%;
    margin-left: 33%;    
    width: 450px;
}

.nameform {
    margin-left: 33%;
    width: 450px;
    margin-top: 2%;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 1.5%;
    box-shadow: 1px 1px 13px grey;
}

.row1 {    
    background-image: url(https://i.postimg.cc/fR6qfJWQ/OFERTAS-1080-800-px-2048-500-px-2048-550-px-2048-900-px-2048-750-px.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 35%;
    height: 550px;    
}

.formh1 {
    color: white;
    text-transform: uppercase; 
    font-weight: 800;
    width: 950px;
    padding-right: 0%;
    padding-left: 25%;
    margin-top: 6%;   
}

.subheader {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-left: 32%;
    width: 500px;
}

.button {
    background-color: #E50695;       
    border-radius: 5px;
    height: 50px;
    font-weight: 600;    
    text-transform: uppercase;    
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding-top: 13px;
    width: 432px;
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 5px grey;
}    

.btnlink:hover {
    color: white;    
}

.benefits {
    color: white;
    background-color: black;    
    height: 550px;    
}

.benefitscol {
    box-sizing: border-box;    
    width: 400px;
    height: 260px;
    color: white;
    margin-top: 2%;
    margin-left: 1%;
    background-color: black;     
}

.headerbenefits {
    background-color: black;
    width: 100%;
}

.headingbenefits {
    color: white;
    background-color: black;
    font-weight: 700;
    text-align: center;
    padding-top: 5%;   
}

.subheadingbenefits {
    text-align: center;
}

.h4benefits {
    text-align: center;
    margin-top: 8%;
}

.h6benefits {
    text-align: center;
}

.iconbox {    
    margin-top: 20%;
    margin-left: 0%;   
}

.icon {
    color: #E50695;
    transform: scale(5);
    margin-left: 185px;
}

.icon2 {
    color: #E50695;
    transform: scale(5);    
    margin-left: 190px;
}

.icon3 {
    color: #E50695;
    transform: scale(5);
    margin-left: 180px;   
}

.products {
    color: black;
    background-color: white;
     height: 550px;
      
}

.productscol{
    box-sizing: border-box;  
    width: 220px;
    height: 220px;
    margin-top: 4%;
    margin-left: 1%   
}

.headingproducts {
    text-align: center;
    padding-top: 5%;
    font-weight: 700;
}

.subheadingprod {
    text-align: center;
}

.prodheading {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 9px;
}

.prodsubheading {
     color: grey;
    text-align: center;
    font-size: 14px;
    font-weight: 500;    
}

.price {
    color: #E50695;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.productlink {
    color: black;
}

.productlink:hover {
    color: black;
}

.img-area1{
    width: 190px;
    height: 190px;
    background-image: url(https://i.postimg.cc/Vvvp8NWD/5.png);
    background-size: 100%;
}

.img-area1:hover {
    width: 190px;
    height: 190px;
    background-image:  url(https://i.postimg.cc/tTX8BkZ0/4.png);
    background-size: 100%;
}

.img-area2{
    width: 190px;
    height: 190px;
    background-image: url(https://i.postimg.cc/SKZHt8WJ/Dise-o-sin-t-tulo-90.png);
    background-size: 100%;
}

.img-area2:hover {
    width: 190px;
    height: 190px;
    background-image:  url(https://i.postimg.cc/rs4bmP7r/Dise-o-sin-t-tulo-91.png);
    background-size: 100%;
}

.img-area3{
    width: 190px;
    height: 190px;
    background-image: url(https://i.postimg.cc/90zmnCRj/Dise-o-sin-t-tulo-92.png);
    background-size: 100%;
}

.img-area3:hover {
    width: 190px;
    height: 190px;
    background-image:  url(https://i.postimg.cc/8knPrJ9k/Dise-o-sin-t-tulo-93.png);
    background-size: 100%;
}


.img-area4{
    width: 190px;
    height: 190px;
    background-image: url(https://i.postimg.cc/HWfkKtjF/Dise-o-sin-t-tulo-88.png);
    background-size: 100%;
}

.img-area4:hover {
    width: 190px;
    height: 190px;
    background-image:  url(https://i.postimg.cc/3RYQP7qc/Dise-o-sin-t-tulo-89.png);
    background-size: 100%;
    
}

.footheader{
    background-color: black;
    color:white;
    height: 50px;
}

.fheadercol1 {
    width: 610px;    
    margin-top: 3%;
    font-size: 13px;
    font-weight: 700;
}

.fheadercol2 {
    width: 420px;    
    margin-top: 3%;
}

.boton {
    background-color: #E50695;
    border-color: #E50695;
    color:white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.boton:hover {
    background-color: #ff31b3;
    border-color: #ff31b3;
}

.inputsuscriptor {
        width: 480px;
}

.RSicons {
    display: flex;
    float: right;
    margin-right: 4%;
    margin-top: 15%;    
}

.RSicons:hover {
    color: #E50695;
}

.RS {
    transform: scale(1.2);
}

.footer {
    color: white;
    background-color: black;
    height: 320px;    
}

.footercol {
    width:350px;    
    margin-top: 8%;    
}

.footericon {
    height: 36px;
    padding-left: 27%;    
}

.bajadafooter {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4em;    
}

.footercontact {
    list-style: none;
    padding-left: 0%;
    line-height: 1.4em;
    font-weight: 600;   
}

.contactlink {    
    text-decoration-line: underline;
    font-size: 13px;
}

.contactlink:hover {
    color:white;
    text-decoration: underline #E50695;
    font-size: 13px;
}

.footermenu {
    font-weight: 700;
    font-size: 13px;
    list-style: none;
    line-height: 25px;
    padding-left: 20%;
}

.footermenu2 {
    font-weight: 700;
    font-size: 13px;
    list-style: none;
    line-height: 25px;
    padding-left: 50%;    
}

.footerlink:hover {
    color:white;
    text-decoration: underline grey;
    font-size: 13px;
    line-height: 25px;
    font-weight: 700;
}

.copyright {
    color: white;
    background-color: black;
    font-weight: 600;
    height: 70px;
    font-size: 13px;
    padding-left:16%;
        
}

.copycol2 {
    padding-left: 15%;
}

@media screen and (max-width:992px){

.brandlogo {
    margin-left: 0%;    
}

.row1 {    
    background-image: url(https://i.postimg.cc/ncxbwqj6/OFERTAS-1080-800-px-2048-500-px-2048-550-px-2048-900-px-2048-750-px-768-650-p.png);    
    padding-left: 5%; 
    padding-left: 0%;
    height: auto;    
}

.formh1 {
    text-shadow: 1px 1px 7px black;    
    width: auto;
    text-align: center; 
    padding-left: 0%;
    margin-top: 1%

}

.subheader{
    text-shadow: 2px 1px 3px black;    
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
    text-align: center;
}

.nameform {
    margin-left: 40%;
    padding-left: 0%;
    width: 60%;    
    margin-bottom: 7%;
}

.button {
    width: 96%;
}

.benefits {
    height: auto;
    width: auto;
    padding-bottom: 12%;
    padding-top: 6%;    
}

.benefitscol {
    height: auto;
    margin-bottom: 8%;           
}

.iconbox {
    height: auto;    
    margin-top: 20%;
}

.products {
    margin-top: 6%;
    height: auto;
    width: auto;
    margin-bottom: 8%;
}

.productscol {
    width: auto;
    height: auto;    
}

.img-area1 {
    margin-left: 0%;
}

.img-area2 {
    margin-left: 0%;
}

.img-area3 {
    margin-left: 0%;
    margin-top: 0%;
}

.img-area4 {
    margin-left: 0%;
    margin-top: 0%;
}

.footheader {
    width: 100%;
    height: 100%;
}

.fheadercol1{    
    width: 60%;    
    margin-top: 5%;
    margin-right: 30%;
}

.inputsuscriptor{
    width: auto;
}

.fheadercol2 {       
    width: 100%;       
    margin-left: 0%;
    padding-right: 82%;
}

.RS {
    margin-right: 0%;
    transform: scale(3); 
    padding-left: 65%;     
    height: 40%;
}

.footer {
    height: auto;
    width: 100%;
    padding-top: 0%;  
}

.bajadafooter {
    width: auto;
    height: auto;    
}

.footercol {
    width: 80%;
    height: auto;   
    margin-top: 4%;
    margin-right: 12%;  
}

.footericon {
    padding-left: 0%;        
}

.footermenu {
    padding-left: 0%;    
}

.footermenu2 {
    padding-left: 0%;
    padding-top: 0%;
}

.copyright{
    padding-left: 5%;
}

.copycol1 {
    padding-left: 3%;
}

.copycol2 {
    padding-left:  3%;
}

}

@media screen and (max-width: 500px) {

.brandlogo {
    transform: scale(0.75);    
}

.row1 {    
    background-image: url(https://i.postimg.cc/7Z0xGH7y/OFERTAS-1080-800-px-2048-500-px-2048-550-px-2048-900-px-2048-750-px-768-650-p.png);
    background-size: 100%;   
    padding-left: 0%;        
}

.formh1 {
    font-size: 22px;
    width: 100%;    
    text-align: center;
    margin-left: 0%;
    padding-left: 0%;    
}       

.subheader {
    font-size: 14px;
    width: 100%;    
    margin-left: 0%;
    text-align: center;
}

.nameform {
    margin-right: 100%;
    margin-left: 0%;
    margin-top: 7%;
    width: 100%;    
}

.button {
    width: 96%;    
}

.headingbenefits {
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 0%;
    margin-right: 0%;    
    margin-top: 8%;
    width: 95%;   
}

.subheadingbenefits {
    margin-bottom: 2%;
    padding-bottom: 0%;
    margin-left: 0%; 
    width: auto;   
}

.benefits { 
    padding-bottom: 10%;
    width: auto;
    height: auto;
    padding-bottom: 25%;       
}

.benefitscol   {         
    margin-top: 8%;
    margin-left: 0%;
    margin-bottom: 8%;
    height: 80%;
    width: auto;       
}

.iconbox {
    width: auto;
    height: 10%;    
    padding-right: 0%;    
    margin-right: 0%;
    padding-top: 20%;     
}

.icon {
    margin-left: 48%;         
}

.icon2 {
    margin-left: 48%;     
}

.icon3 {
    margin-left: 48%;     
}

.products {
    height: 1300px;  
    margin-top: 0%;
    padding-top: 8%;
    width: auto;
}

.productscol {
    margin-bottom: 8%;    
}

.footheader {
    padding-left: 17%;  
}

.inputsuscriptor {
    width: auto;
}

.footer {
    height:auto; 
    width: auto;   
    padding-top: 15%;    
}

.footercol {
    margin-top: 7%;
    margin-right: 40%;
    padding-bottom: 0%; 
    height: auto;  
}

.footermenu {    
    padding-left: 0%;
    width: auto;
    height: auto;
}

.footermenu2 {
    padding-left: 0%;
    width: auto;
    height: auto;
}

.fheadercol1 {
    height: auto;
    width: auto;
}

.fheadercol2{
    display:flex;
    position: absolute;
    margin-left: 20%;
    transform: scale(1.2);
    margin-top: 35%;  
    width: auto;       
}

.RS {
    display: flex;    
    margin-bottom: 0%;    
    margin-top: 55%;
    margin-left: 10%;  
}

.copyright {
    height: auto;
    width: auto;    
}

.copycol1 {
    padding-left: 5%;    
}

.copycol2 {
    padding-left: 5%;
    margin-bottom: 5%;    
}

}